.boton {
    font-family: "Source Sans 3", sans-serif;
    text-transform: uppercase;
    display: flex;
    text-align: center;
    font-size: 16px;
    width: 120px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    background-color: #03122F;
    border: 2px solid #F5F5F5;
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

.boton:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: #2271D1;
    border: 2px solid #2271D1;
    box-shadow: inset 0px 0px 12px 4px #2271D1;

}

.boton:focus {
    outline: none;
}