.contenedor-formulario-principal {
    background-color: rgba(0, 0, 0, 0.9);
}

.encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    color: #F5F5F5;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}

.encabezado h1 {
    margin: 0px;
}

.formulario-principal {
    padding: 40px 60px 20px 60px;
}

.titulo-form {
    padding-top: 10px;
    padding-bottom: 10px;
    
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
}

.titulo-form h2 {
    margin: 0px;
    color: #FFF;
    font-family: "Source Sans 3", sans-serif;
}

.contenedor-campos {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-right: 0px;
    margin-right: 0px;
}

.contenedor-botones {
    width: 30%;
    display: flex;
    justify-content: space-between;
}